/* Table of Contents:
    1. Classes
    2. General Tags
 */

/* 1. Classes */
.nav-link{
    font-family: "Calibri";
    font-size: 25px;
    text-align:center;
    color:black;

}

.custom{
    padding-left:28%;
    padding-right:28%;
}

:root{
    --blue: #002349;
    --yellow: #ffb81c;
}

.bord{

    border-left: 60px #002349 solid;
    border-right: 60px #002349 solid;
    display:block;
}

.sub{
    height: 30px;
    background-color: #002349;
    text-align: right;
    padding-right:40px;
    padding-bottom:10px;
    display:block;
    font-family: "Calibri";
    font-size:20px;
    color:white;
    margin-right:16px;
}

.super{
    height: 30px;
    background-color: #002349;
    text-align: left;
    font-family: "Calibri";
    font-size:25px;
    font-weight:bolder;
    padding-left:40px;
    padding-bottom:10px;
    margin-right:16px;

    color: red;
    padding-right:40px;
    padding-bottom:10px;
    display:block;
}
.active{
    background-color: #ffc84f;
}

.btn{
    background-color: #002349;
    color:white;
    font-family: "Calibri";
    font-size:25px;
    float: right;
    margin-right:40px;
}
.lgimg{
    width: 600px;
    height: 450px;
}

.singItem{
    float:right;
    text-align:right;
    margin-top:20px;
    margin-right:40px;
}
/* 2. General Tags */
a{
    text-decoration: none;
}

h1{
    font-family: "Bell MT";
    font-style: italic;
    color:white;
    font-size:80px;
    text-align:center;
}
img{
    width: 400px;
    height:300px;
}
p{
    font-family: "Calibri";
    font-size:20px;
    text-align:center;
    color:black;
}

label{
    font-family: "Calibri";
    font-size: 25px;
    color:black;
}
